/* Piyango masası kapsayıcısı */
.lottery-table {
    border: 1px solid #D1D5DB;
    border-radius: 12px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Geçiş efektleri eklendi */
}

/* Piyango masası başlığı */
.lottery-table h2 {
    font-size: 1.5em;
    color: #000000;
}

/* Katıl butonu */
.join-button {
    padding: 10px 20px;
    background-color: #7600d1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Geçiş efektleri */
}

.join-button:hover {
    background-color: #7600d1;
    transform: scale(1.05); /* Hafif büyüme efekti */
}

/* Piyango masaları kapsayıcısı */
.lottery-tables-container {
    display: flex;
    flex-wrap: wrap; /* İçeriğin birden fazla satıra geçmesini sağlar */
    justify-content: center; /* Merkezden hizalama */
    gap: 20px; /* Masalar arasındaki boşluk */
    max-width: 800px; /* Kapsayıcı genişliğini sınırlıyoruz */
    margin: 0 auto; /* Ortalanması için otomatik marjin */
}

.lottery-table {
    flex: 1 1 20%; /* Her satırda 3 masa olacak şekilde genişlik ayarlama */
    max-width: 250px; /* Her piyango masasının maksimum genişliği */
}

.lottery-table:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(93, 11, 193, 0.886);
}