/* Cüzdan Bağla buton stili */
.connect-wallet-button {
  padding: 12px 24px; /* Butonun iç boşluğu */
  background-color: #6d0b91; /* Mor renk tonu */
  color: white; /* Yazı rengi */
  border: none; /* Kenarlık kaldırıldı */
  border-radius: 20px; /* Oval kenarlar için */
  cursor: pointer;
  font-weight: 600; /* Yazı kalınlığı */
  font-size: 1em; /* Yazı boyutu */
  transition: background-color 0.3s, transform 0.2s; /* Geçiş efektleri */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
  margin: 20px auto; /* Ortalanmış konumlandırma */
}

/* Buton hover efekti */
.connect-wallet-button:hover {
  background-color: #5b007d; /* Hover sırasında koyu mor renk */
  transform: scale(1.05); /* Hover sırasında hafif büyüme efekti */
}
/* Sağ ve Sol Panel Ayarları */
.side-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15%;
  background: linear-gradient(135deg, #4e1d7b, #6d0b91);
  overflow: hidden;
  z-index: -1;
}

.left-panel {
  left: 0;
}

.right-panel {
  right: 0;
}

/* Yalnızca large boyutunda toplar */
.circle {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff; /* Beyaz arka plan */
  color: #0a0707; /* Sayılar siyah olacak */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  animation: floatUp 15s ease-in-out infinite;
  opacity: 0.9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Hafif gölge */
  z-index: 1;
}



/* Yukarı doğru hareket ederken sağa sola dalgalanma */
@keyframes floatUp {
  0% {
      transform: translateY(100vh) translateX(0px);
  }
  50% {
      transform: translateY(50vh) translateX(10px);
  }
  100% {
      transform: translateY(-100vh) translateX(-10px);
  }
}

